.userAvatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
    .userAvatarName {
        margin: 0 10px;
    }
}
.notificationContainer {
    margin-right: 20px;
}
.helpContainer {
    margin-right: 20px;
}